.black{
  background: #373a3c;
  color: white;
  text-align: center;
  text-align: right;
}

.titulo{
  font-family: parisienne;
  font-size: 60px;
  color:pink;
}

.subtitulo{
  font-family: parisienne;
  font-size: 60px;
  color: pink;
}


.contacto1{
background-color: #e83e8c;
padding: 50px;
text-align: center;
}


header {
  background-image: url('../img/darling.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding-bottom: 10rem;
  width: 100%;
}

.redes-sociales{
  font-family: parisienne;
  font-size: 50px;
  background-color: pink;
  display: block;
  padding: 20px;
  width: 100%;
  text-align: center;
}

.iconos{
  font-size: 20px;
  display: inline-block;
  margin-left: 20px;
}
